#form{
    border: var(--color-black) 0.1px solid;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
}

.input{
    border: var(--color-lightgrey) 2px solid;
    border-radius: 5px;
    padding: 5px;
}

#form_button{
    padding: 5px 10px;
    border-radius: 5px;
}

#form_button:hover{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--color-wheat);
    cursor: pointer;
}