#header_header{
    width: 100%;
    height: auto;
    background-color: var(--color-darkblue);
    display: flex;
    justify-content: center;
    padding: 30px;
}

#header_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#header_img{
    width: 100px;
    height: auto;
    border-radius: 5px;
}

#header_title{
    color: var(--color-wheat);
    font-family: Arial, Helvetica, sans-serif;
}
