* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-height: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
    padding: 0px 50px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: center;
}